PORT=4173
MARKET_CACHE_MS=30000
VOLUME_HISTORY_LIMIT=12

PRECISION_WATCH_LIMIT=40
PRECISION_SOURCE_TOP_SECTORS=12
PRECISION_MIN_TRADE_AMOUNT_MILLION=0
PRECISION_API_ENABLED=false
PRECISION_API_PROVIDER=kis
PRECISION_MARKET_SCOPE=KRX_SELECTED

KIS_ENABLED=false
KIS_MODE=mock
KIS_APP_KEY=
KIS_APP_SEC=
KIS_ACCOUNT_NO=
KIS_ACCOUNT_PRODUCT_CODE=01
KIS_REST_BASE_URL=https://openapivts.koreainvestment.com:29443
KIS_WS_URL=
KIS_APPROVAL_KEY=
KIS_TIMEOUT_MS=7000

KIS_BASE_URL=https://openapivts.koreainvestment.com:29443
KIS_MOCK=true
KIS_DETAIL_QUOTE_LIMIT=20
KIS_QUOTE_CONCURRENCY=4
KIS_VOLUME_HISTORY_LIMIT=12

VITE_API_BASE_URL=
